*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  color: #5a5a5a;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
}
body{
  overflow-x: hidden;
}
.Logo{
  max-width: 4cm;
  float: left;
  margin-top: -25px;
  margin-left: 3cm;
}
.row{
  max-width: 1140px;
  margin: 0 auto;
}
.menu{
  float: right;
  list-style: none; 
  margin-right: 50px;
  margin-top: 35px;
}
.menu li a{
  text-decoration: none;
  color: white;
  font-size: 110%;
  font-weight: 700;
  transition:all 0.3s ease-in-out;
  padding: 3px 0;
}
.menu li{
  display: inline-block;
  margin-right: 30px;
}
.menu li a:hover,
.menu li a:active{
  color:#5680E9 ;
}
header{
  width: 100%;
  height: 2.5cm;
  background-color: black;
}
.about-section{
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);  
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-attachment: fixed;
  width: 100%;
}
.A1{
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2cm;
}
.btn{
  text-decoration: none;
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
  color: white;
  padding: 15px 30px;
  width: 170px;
  display: inline-block;
  text-align: center;
  font-size: 70%;
  font-weight: 700;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 54px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
 background-position: right center; 
 color: #fff;
 text-decoration: none;
 color: black;
}
.TT1{
  color: black;
  font-weight: 900;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 2cm;

}
.TT2{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 1.5cm;
  color: black;
  font-weight: bold;
}
.about1-section{
  height: 300px;
}
.TT3{
  color: black;
  font-weight: 900;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 1.5cm;
}
.TT4{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 0.7cm;
  color: black;
  font-weight: bold;
}
.A2{
  margin-left: 30%;
  margin-top: 30px;
  transition: all 0.2s;
}
.A3{
  margin-left: 30px;
  transition: all 0.2s;
}
.A4{
  margin-left: 30px;
  transition: all 0.2s;
}
.A2:hover,
.A2:active{
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.A3:hover,
.A3:active{
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.A4:hover,
.A4:active{
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about2-section{
  height: 500px;
  background-color: rgb(34, 35, 38);
}
.A5{
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.5cm;
}
.TT5{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 150%;
  text-align: center;
  color: white;
  font-weight: 900;
  margin-top: -0.5cm;
}
.about-tt{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 90%;
  color: white;
  font-weight: 500;
  text-align: center;
}
.TT6,.TT7,.TT8,.TT9,.TT10,.TT11{
  margin-top: 1cm;
}
.TT9,.TT10,.TT11{
  color: #5680E9;
}
footer{
  height: 530.4px;
  background-color: black;
  padding: 40px 0 50px;
}
.A6{
  width: 132px;
  margin: 0;
  margin-top: -1cm;
}
.about-end{
  width: 195px;
  height: 346px;
}
h3{
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  color: #919496;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  margin-top: 0.5cm;
}
.about-end p{
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  color: white;
  transition: all 0.2s;
}
.about-end p:hover,
.about-end p:active{
  color: #5680E9;
}
.TT12,.TT13,.TT14,.TT15,.TT16,.TT17,.TT18,.TT19,.TT20,.TT21,.TT22{
  margin-top: 0.8cm;
}
.social-icons{
  margin-top: 15px;
  list-style: none;
}
.social-icons a{
  text-decoration: none;
}
.social-icons li{
  display: inline-block;
  font-size: 200%;
  margin-left: 20px;
  color: white;
}
.social-icons li i{
  transition: all 0.15s;
}
.social-icons li i:hover,
.social-icons li i:active{
  transform: scale(1.3);
  color: #5680E9;
}
.end1{
  width: 1170px;
  height: 39.2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menu1{
  list-style: none; 
  margin-left: 20px;
}
.menu1 li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  transition:all 0.2s ease-in-out;
  padding: 3px 0;
}
.menu1 li{
  display: inline-block;
  margin-right: 20px;
}
.menu1 li a:hover,
.menu1 li a:active{
  color:#5680E9 ;
}
.TT23,span{
  float: right;
  font-size: 14px;
  color: white;
}
.TT23{
  margin-top: -16px;
  margin-right: 50px;
}